#con_left {
  width: 236px;
  float: left;
  margin-right: 25px; }

.login_wrap {
  background: url("../images/main/login_box.gif") center 0 no-repeat;
  height: 124px;
  padding: 10px 12px 0;
  margin-bottom: 13px;
  position: relative; }
.login_wrap h3 {
  margin-bottom: 16px; }
.login_wrap label {
  display: inline-block;
  width: 44px; }
.login_wrap input[type=text], .login_wrap input[type=password] {
  width: 93px; }
.login_wrap legend + p {
  margin-bottom: 3px; }
.login_wrap input[type=image] {
  position: absolute;
  top: 46px;
  right: 17px; }
.login_wrap form + p {
  border-top: 1px solid #dedede;
  margin: 8px 2px 0 0;
  padding-top: 5px;
  text-align: center; }
.login_wrap form + p a {
  padding: 0 0 0 12px;
  background: url("../images/main/icon_login.gif") 0 4px no-repeat; }
.login_wrap form + p a + a {
  margin-left: 10px; }

.banner_con_left {
  margin-bottom: 35px; }
.banner_con_left li:first-child {
  margin-bottom: 6px; }

.standard_wrap {
  width: 208px;
  height: 102px;
  background: url("../images/main/bg_standardbox.gif") center 0 no-repeat;
  padding: 14px; }
.standard_wrap h3 {
  margin-bottom: 13px; }
.standard_wrap dl {
  padding-left: 75px;
  background: url("../images/main/img_standards.gif") 0 0 no-repeat; }
.standard_wrap dl strong {
  color: #2a6897;
  font-weight: bold;
  margin-bottom: 4px;
  display: inline-block; }

#con_center {
  width: 375px;
  float: left; }

#con_center > form:first-child {
  padding-top: 13px;
  background: url("../images/main/bg_search.gif") 0 -3px no-repeat;
  height: 27px;
  margin-bottom: 20px;
  text-align: center; }
#con_center > form:first-child input[type=text] {
  width: 192px;
  height: 18px;
  line-height: 18px;
  padding: 0; }
#con_center > form:first-child label {
  display: inline-block;
  height: 18px;
  padding-left: 23px;
  margin-right: 5px;
  background: url("../images/common/icon_searcgh.gif") 0 0 no-repeat; }

.main_notice_wrap {
  background: url("../images/main/bbs_h3_bg.gif") 0 23px no-repeat;
  position: relative;
  margin-bottom: 40px; }
.main_notice_wrap button {
  display: block;
  text-indent: -9999px;
  width: 76px;
  height: 23px;
  background: url("../images/main/tab_notice.gif") 0 0 no-repeat;
  border: none; }
.main_notice_wrap button.on {
  background-image: url("../images/main/tab_notice_ov.gif"); }
.main_notice_wrap .tab_btn_2 button {
  position: absolute;
  top: 0;
  left: 76px;
  width: 79px;
  background-image: url("../images/main/tab_pds.gif"); }
.main_notice_wrap .tab_btn_2 button.on {
  background-image: url("../images/main/tab_pds_ov.gif"); }
.main_notice_wrap p {
  position: absolute;
  top: 2px;
  right: 3px; }
.main_notice_wrap div {
  display: none; }
.main_notice_wrap .tab_btn_1 {
  margin-bottom: 10px; }
.main_notice_wrap .tab_btn_1 + div {
  display: block; }
.main_notice_wrap li {
  height: 24px;
  line-height: 24px;
  position: relative;
  padding-left: 10px;
  background: url("../images/common/bullet_list.gif") 3px 50% no-repeat; }
.main_notice_wrap li time {
  position: absolute;
  top: 0;
  right: 3px; }

.con_news_wrap {
  background: url("../images/main/bbs_h3_bg.gif") 0 20px no-repeat;
  position: relative; }
.con_news_wrap h3 {
  margin-bottom: 22px; }
.con_news_wrap .btn_more {
  position: absolute;
  top: 2px;
  right: 3px; }
.con_news_wrap figure {
  float: left;
  text-align: center; }
.con_news_wrap article {
  float: right;
  width: 216px;
  padding-right: 10px; }
.con_news_wrap article h4 {
  font-weight: bold;
  color: #3a3839;
  padding-left: 10px;
  margin-left: -10px;
  background: url("../images/common/bullet_list.gif") 0 50% no-repeat; }
.con_news_wrap article time {
  font-size: 11px;
  margin-bottom: 5px;
  display: block; }

#con_right {
  width: 183px;
  float: right; }

#event_wrap {
  margin-bottom: 35px; }
#event_wrap > section:first-child {
  padding: 16px 10px 0;
  background: url("../images/main/eventbox_bg.gif") center top no-repeat;
  position: relative;
  padding-bottom: 13px; }
#event_wrap > section:first-child h3 {
  margin-bottom: 7px; }
#event_wrap > section:first-child figcaption {
  border-bottom: 1px solid #dedede;
  padding: 10px 0 13px; }
#event_wrap > section:first-child button {
  width: 17px;
  height: 16px;
  background: url("../images/main/btn_event_prev.gif") 0 0 no-repeat;
  border: none;
  text-indent: -9999px;
  display: block;
  position: absolute;
  top: 16px;
  right: 35px; }
#event_wrap > section:first-child button + button {
  background: url("../images/main/btn_event_next.gif") 0 0 no-repeat;
  right: 10px; }
#event_wrap > section:first-child + section {
  background: url("../images/main/eventbox_bg.gif") center bottom no-repeat;
  padding: 0 10px 13px; }
#event_wrap > section:first-child + section h3 {
  margin-bottom: 7px; }
#event_wrap > section:first-child + section select {
  width: 113px; }

.fav_wrap {
  position: relative; }
.fav_wrap h3 {
  background: url("../images/main/eventbox_bg.gif") center top no-repeat;
  padding: 15px 10px; }
.fav_wrap ol {
  background: url("../images/main/eventbox_bg.gif") center bottom no-repeat;
  padding: 10px; }
.fav_wrap ol li {
  height: 17px;
  line-height: 17px;
  position: relative;
  padding-left: 15px;
  background: url("../images/main/icon_site.gif") 0 2px no-repeat; }
.fav_wrap ol li + li {
  background-position: 0 -33px; }
.fav_wrap ol li + li + li {
  background-position: 0 -68px; }
.fav_wrap ol li + li + li + li {
  background-position: 0 -103px; }
.fav_wrap ol li img {
  position: absolute;
  right: 0;
  top: 5px; }
.fav_wrap .btn_more {
  position: absolute;
  top: 16px;
  right: 10px; }

/*# sourceMappingURL=main.css.map */
